
.pokemon-detail-view {
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  min-height: 600px;
  z-index: 2;
  background-color: blanchedalmond;
  border-radius: 5%;
}

.pokemon-detail-view h2 {
  text-transform: capitalize;
}

.pokemon-detail-view .overview {
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  margin: 0 auto;
}

.pokemon-detail-view .overview > div {
  width: 100px;
  margin: 5px;
  padding: 5px;
}

.pokemon-detail-view > img {
  position: absolute;
}

.stats-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 225px;
  width: 225px;
  border-radius: 50%;
  background-color: lawngreen;
}
.stat-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  margin-top: 10px;
  font-size: 22px;
  font-weight: bold;
}

.close-btn {
  position: absolute;
  top: -30px;
  right: -30px;
  font-size: 30px;
  z-index: 3;
  font-weight: bold;
  transform: scale(1.4, 1);
}

.top {
  top: 0
}

.bottom {
  bottom: 0
}

.left {
  left: 0
}
  
.right {
  right: 0
}