.pokemon-list-view {
  position: relative;
  width: 140px;
  margin: 5px;
}

.list-view-background {
  position: absolute;
  top: 20px;
  right: 0;
  bottom: -25px;
  left: 0;
  background-color: #fcf;
  opacity: 0.3;
  border-radius: 5%;
}

.list-view-background:hover {
  opacity: 0.1;
  background-color: #ff0  ;
}

.type-labels-container {
  display: flex;
  justify-content: center;
}

.type-label {
  color: white;
  margin: 0 5px 5px 0;
  padding: 1px 3px;
  min-width: 40px;
  font-size: 14px;
  transform: skewX(-10deg);
  font-style: italic;
}

.type-label:hover {
  transform: skewX(0deg);
}

.pokemon-single-view > h4 {
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 20px;
  text-transform: capitalize;
}

@media (prefers-reduced-motion: no-preference) {
  .floating {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}
