.App {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.App-header {
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
}

.App-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.App-link {
  color: rgb(112, 76, 182);
}

.background-video {
  position: absolute;
  top: -4px;
  left: 0;
  z-index: -1;
  opacity: 0.3;
  pointer-events: none;
}

.player-options {
  position: absolute;
  bottom: 50px;
  right: 50px;
  font-size: 25px;
}

.player-options > span {
  margin-right: 10px;

}