.App {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.App-header {
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
}

.App-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.App-link {
  color: rgb(112, 76, 182);
}